* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    opacity: 0.9;
}

.headline {
    position: absolute;
    font-size: 75px;
    color: white;
    text-shadow: 2px 2px 2px black;
    top: 60%;
}